{% extends "layout.html" %}

{% block content %}
<section class="page-section bg-dark" id="register">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0 text-white">Registro Único de Documentación</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="form-floating mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </symbol>
                    </svg>
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                            <use xlink:href="#check-circle-fill" />
                        </svg>
                        <div>Se registro correctamente el documento</div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <div class="alert alert-secondary" role="alert">
                        A nombre de: {{ email }}
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <div class="alert alert-secondary" role="alert">
                        <label>Codigo de validación</label>
                        <div class="row gx-1 gx-lg-5 justify-content-center">
                            <div class="col-lg-6 text-center">
                                <div id="qrcode"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="textHash" type="text" style="height: 10rem" 
                    disabled>{{ fileHash }}</textarea>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script type="text/javascript">
var s = document.getElementById("textHash").innerHTML;
new QRCode(document.getElementById("qrcode"), s);
</script>

{% endblock %}